.wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    transition-duration: 0.4s;
}
.desktop {
    background-image: url("/bg-l.webp"); 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    transition-duration: 0.4s;
}
.maximizedDesktop {
    border-radius: 0;
}
.notMaximizedDesktop {
    border-radius: 45px;
}
.maximized {
    border-radius: 0;
    height: calc(100vh - 32px);
    width: 100vw;
    top: 50%;
}
.notMaximized {
    border-radius: 45px;
    width: 75vw;
    height: 65vh;
    top: 52%;
}
.notSelected {
    height: 60vh;
}
