.desktop {
    background-image: url("/bg-l.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition-duration: 0.4s;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    z-index: 10;
}
.maximized {
    border-radius: 0;
    height: calc(100vh - 32px);
    width: 100vw;
    top: 50%;
}
.notMaximized {
    border-radius: 45px;
    width: 75vw;
    height: 65vh;
    top: 45%;
}
.notSelected {
    height: 60vh;
}