.overview {
    height: calc(100vh - 32px);
    flex-direction: row;
    justify-content: flex-start;
    gap: 100px;
    transition-duration: 0.2s;
    position: relative;
    background-color: #282828;
}
.maximized {
    padding: 0;
}
.notMaximized {
    padding: 0 0;
}
.searchContainer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 3%;
    background-color: #464646;
    padding: 10px 20px;
    border-radius: 999px;
    display: flex;
    flex-flow: row nowrap;
    gap: 1ch;
}
.search {
    outline: none;
    border: none;
    background-color: inherit;
    font-size: 18px;
    width: 30ch;
    font-family: 'Cantarell';
}
.dock {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #3d3d3d;
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
    width: 40vw;
    height: 104px;
    border-radius: 25px;
}