.topBar {
    height: 32px;
    width: 100%;
    font-size: 14px;
    position: relative;
    transition-duration: 0.3s;
}
.centerMenu {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 14px;
    padding: 0 1ch;
    font-size: 14.6666px;
    font-weight: 600;
    height: 24px;
}
.topBarItem {
    border-radius: 999px;
}
.rightMenu {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 4px 16px;
    display: flex;
    flex-flow: row nowrap;
    gap: 12px;
    height: 24px;
}
.tabs {
    position: absolute;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
    padding: 9px 12px;
    height: 24px;
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;
    align-items: center;
}
.maximized {
    background-color: black;
}
.notMaximized {
    background-color: #282828;
}
.notMaximized .dot {
    background-color: #aaaaaa;
}
.notMaximized .selectedDot {
    background-color: #f5f5f5;
}
.dot {
    background-color: #7f7f7f;
    height: 6px;
    width: 6px;
    border-radius: 999px;
    transition-duration: 0.4s;
}
.selectedDot {
    background-color: white;
    width: 26px;
    height: 8px;
}

.systemMenu {
    position: absolute;
    right: 6px;
    top: 42px;
    width: 400px;
    background-color: #353535;
    z-index: 999999999;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: start;
    padding: 20px;
    gap: 15px;
    border-radius: 20px;
}
.topSection {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.battery {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
    background-color: #ffffff2b;
    padding: 12px;
    border-radius: 999px;
    font-weight: 600;
}
.shortcuts {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
}
.shortcut {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    background-color: #ffffff2b;
    padding: 12px;
    border-radius: 999px;
    font-weight: 600;
}
.slider {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 16px;
}
.slider > input {
    width: 100%;
}
.options {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}
.option {
    width: 48%;
    height: 50px;
    border-radius: 999px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding: 12px;
}

@media (pointer: fine) {
    .topBarItem:hover {
        cursor: default;
        background-color: #ffffff2b;
    }
}
