.topBar {
    height: 32px;
    width: 100%;
    font-size: 14px;
    position: relative;
    transition-duration: 0.3s;
}
.centerMenu {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 14px;
    padding: 0 1ch;
    font-weight: 700;
    font-size: 15px;
    height: 24px;
}
.topBarItem {
    border-radius: 999px;
}
.rightMenu {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 4px 12px;
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    height: 24px;
}
.tabs {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 4px 1ch;
    height: 24px;
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;
    align-items: center;
}
.maximized {
    background-color: black;
}
.notMaximized {
    background-color: #282828;
}
.notMaximized .dot {
    background-color: #aaaaaa;
}
.notMaximized .selectedDot {
    background-color: #f5f5f5;
}
.dot {
    background-color: #7f7f7f;
    height: 6px;
    width: 6px;
    border-radius: 999px;
    transition-duration: 0.4s;
}
.selectedDot {
    background-color: white;
    width: 26px;
    height: 8px;
}

@media (pointer: fine) {
    .topBarItem:hover {
        cursor: default;
        background-color: #ffffff2b;
    }
}
