.topBar {
    height: 32px;
    width: 100%;
    font-size: 14px;
    position: relative;
    color: white;
    transform-origin: 0.4s;
}
.centerMenu {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: row nowrap;
    gap: 14px;
    padding: 0 1ch;
    font-weight: 700;
    font-size: 14.666px;
}
.topBarItem {
    border-radius: 999px;
}
.rightMenu {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 4px 1ch;
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}
.tabs {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 4px 1ch;
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;
}
.maximized {
    background-color: black;
    transform-origin: 0.4s;
}
.notMaximized {
    background-color: #282828;
    transform-origin: 0.4s;
}
.dot {
    background-color: rgb(169, 169, 169);
    height: 10px;
    width: 10px;
    border-radius: 999px;
    transition-duration: 0.4s;
}
.selectedDot {
    background-color: white;
    width: 20px;
}

@media (pointer: fine) {
    .topBarItem:hover {
        cursor: default;
        background-color: #2b2b2b;
    }
}
